In [2]:
import csv
import numpy as np
import pandas as pd

In [3]:
file = open('BWGHT.csv')
file.close()

In [9]:
inmat = []
with open('BWGHT.csv') as file:
    ## All stuff done on BWGHT.csv happens here
    reader = csv.reader(file)
    for line in reader:
        inmat.append(line)
## File is closed

In [8]:
inmat = []
with open('BWGHT.csv') as file:
    ## All stuff done on BWGHT.csv happens here
    reader = csv.reader(file)
    for i,line in enumerate(reader):
        if i > 100: break
        inmat.append(line)
## File is closed

In [17]:
#bwght = np.matrix(inmat[1:],dtype=float)
for line in inmat[1:]:
    print(line)
    print(np.array(line,dtype=float))

['13.5', '16.5', '122.3', '109', '12', '12', '1', '1', '1', '0', '4.691348', '6.8125', '0', '2.60269']
[ 13.5       16.5      122.3      109.        12.        12.
   1.         1.         1.         0.         4.691348   6.8125
   0.         2.60269 ]
['7.5', '16.5', '122.3', '133', '6', '12', '2', '1', '0', '0', '4.890349', '8.3125', '0', '2.014903']
[  7.5       16.5      122.3      133.         6.        12.
   2.         1.         0.         0.         4.890349   8.3125
   0.         2.014903]
['.5', '16.5', '122.3', '129', '', '12', '2', '0', '0', '0', '4.859812', '8.0625', '0', '-.6931472']

ValueError: could not convert string to float:

In [18]:
inmat = [row[:4]+row[6:] for row in inmat]

In [21]:
bwght = np.matrix(inmat[1:],dtype=float)

In [24]:
bwght.mean(0)

matrix([[2.90266571e+01, 1.95529539e+01, 1.30559006e+02, 1.18699568e+02,
         1.63256484e+00, 5.20893372e-01, 7.84582133e-01, 2.08717579e+00,
         4.76003104e+00, 7.41872298e+00, 1.04358790e-01, 3.07127103e+00]])

In [25]:
bwght = pd.read_csv('BWGHT.csv')

In [26]:
bwght

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
0,13.5,16.5,122.3,109,12.0,12.0,1,1,1,0,4.691348,6.8125,0.00,2.602690
1,7.5,16.5,122.3,133,6.0,12.0,2,1,0,0,4.890349,8.3125,0.00,2.014903
2,0.5,16.5,122.3,129,NaN,12.0,2,0,0,0,4.859812,8.0625,0.00,-0.693147
3,15.5,16.5,122.3,126,12.0,12.0,2,1,0,0,4.836282,7.8750,0.00,2.740840
4,27.5,16.5,122.3,134,14.0,12.0,2,1,1,0,4.897840,8.3750,0.00,3.314186
5,7.5,16.5,122.3,118,12.0,14.0,6,1,0,0,4.770685,7.3750,0.00,2.014903
6,65.0,16.5,122.3,140,16.0,14.0,2,0,1,0,4.941642,8.7500,0.00,4.174387
7,27.5,16.5,122.3,86,12.0,14.0,2,0,0,0,4.454347,5.3750,0.00,3.314186
8,27.5,16.5,122.3,121,12.0,17.0,2,0,1,0,4.795791,7.5625,0.00,3.314186
9,37.5,16.5,122.3,129,16.0,18.0,2,0,1,0,4.859812,8.0625,0.00,3.624341
10,27.5,16.5,122.3,101,12.0,16.0,2,1,0,0,4.615120,6.3125,0.00,3.314186
11,27.5,16.5,122.3,133,16.0,15.0,1,1,1,0,4.890349,8.3125,0.00,3.314186
12,6.5,16.5,122.3,61,NaN,12.0,3,1,0,0,4.110874,3.8125,0.00,1.871802
13,10.5,16.5,122.3,104,12.0,12.0,1,1,1,0,4.644391,6.5000,0.00,2.351375
14,12.5,16.5,122.3,92,7.0,12.0,1,1,0,0,4.521789,5.7500,0.00,2.525729
15,17.5,16.5,122.3,122,13.0,13.0,1,1,1,0,4.804021,7.6250,0.00,2.862201
16,42.5,16.5,122.3,159,18.0,16.0,1,1,1,0,5.068904,9.9375,0.00,3.749504
17,4.5,16.5,122.3,154,NaN,11.0,1,0,0,0,5.036952,9.6250,0.00,1.504077
18,32.5,16.5,122.3,120,16.0,16.0,1,1,0,0,4.787492,7.5000,0.00,3.481240
19,6.5,16.5,122.3,138,NaN,11.0,2,0,0,0,4.927254,8.6250,0.00,1.871802
20,47.5,16.5,122.3,127,16.0,17.0,1,0,1,0,4.844187,7.9375,0.00,3.860730
21,22.5,16.5,122.3,107,12.0,12.0,2,1,1,0,4.672829,6.6875,0.00,3.113515
22,15.5,16.5,122.3,129,8.0,11.0,2,1,1,6,4.859812,8.0625,0.30,2.740840
23,13.5,16.5,122.3,129,12.0,12.0,1,0,0,0,4.859812,8.0625,0.00,2.602690
24,37.5,16.5,122.3,156,11.0,11.0,1,0,1,0,5.049856,9.7500,0.00,3.624341
25,2.5,16.5,122.3,124,11.0,12.0,2,1,0,0,4.820282,7.7500,0.00,0.916291
26,2.5,16.5,122.3,79,NaN,12.0,2,1,0,0,4.369448,4.9375,0.00,0.916291
27,32.5,16.5,122.3,112,12.0,12.0,2,1,1,0,4.718499,7.0000,0.00,3.481240
28,22.5,16.5,122.3,124,12.0,12.0,1,1,1,0,4.820282,7.7500,0.00,3.113515
29,0.5,15.0,125.6,134,NaN,12.0,2,1,0,0,4.897840,8.3750,0.00,-0.693147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1358,6.5,30.0,138.3,99,NaN,9.0,2,0,0,0,4.595120,6.1875,0.00,1.871802
1359,12.5,30.0,138.3,119,12.0,12.0,3,0,1,3,4.779123,7.4375,0.15,2.525729
1360,32.5,30.0,138.3,122,14.0,15.0,1,0,1,0,4.804021,7.6250,0.00,3.481240
1361,5.5,30.0,138.3,115,NaN,11.0,2,0,0,10,4.744932,7.1875,0.50,1.704748
1362,22.5,30.0,138.3,111,16.0,14.0,3,0,1,0,4.709530,6.9375,0.00,3.113515
1363,10.5,30.0,138.3,108,NaN,12.0,1,1,1,0,4.682131,6.7500,0.00,2.351375
1364,32.5,30.0,138.3,140,16.0,13.0,1,1,1,0,4.941642,8.7500,0.00,3.481240
1365,32.5,30.0,138.3,119,18.0,16.0,2,0,1,0,4.779123,7.4375,0.00,3.481240
1366,27.5,30.0,138.3,134,14.0,16.0,2,1,0,0,4.897840,8.3750,0.00,3.314186
1367,12.5,30.0,138.3,130,16.0,14.0,1,1,1,15,4.867535,8.1250,0.75,2.525729
1368,8.5,30.0,138.3,107,NaN,12.0,5,0,1,0,4.672829,6.6875,0.00,2.140066
1369,42.5,30.0,138.3,147,14.0,15.0,1,0,1,0,4.990433,9.1875,0.00,3.749504
1370,4.5,30.0,138.3,109,NaN,16.0,1,1,1,0,4.691348,6.8125,0.00,1.504077
1371,37.5,30.0,138.3,114,12.0,14.0,1,1,1,0,4.736198,7.1250,0.00,3.624341
1372,18.5,30.0,138.3,118,12.0,12.0,1,1,1,0,4.770685,7.3750,0.00,2.917771
1373,42.5,30.0,138.3,110,16.0,16.0,1,0,1,0,4.700480,6.8750,0.00,3.749504
1374,42.5,30.0,138.3,127,12.0,12.0,1,0,1,0,4.844187,7.9375,0.00,3.749504
1375,17.5,30.0,138.3,102,11.0,10.0,2,1,1,20,4.624973,6.3750,1.00,2.862201
1376,47.5,30.0,138.3,158,18.0,17.0,3,1,1,0,5.062595,9.8750,0.00,3.860730
1377,22.5,30.0,138.3,113,15.0,16.0,1,0,1,0,4.727388,7.0625,0.00,3.113515
1378,15.5,30.0,138.3,121,12.0,12.0,1,1,1,0,4.795791,7.5625,0.00,2.740840
1379,1.5,30.0,138.3,130,10.0,11.0,3,0,0,0,4.867535,8.1250,0.00,0.405465
1380,5.5,30.0,138.3,85,NaN,12.0,1,1,0,0,4.442651,5.3125,0.00,1.704748
1381,12.5,30.0,138.3,87,14.0,12.0,1,1,1,0,4.465908,5.4375,0.00,2.525729
1382,22.5,30.0,138.3,135,16.0,16.0,3,0,1,0,4.905275,8.4375,0.00,3.113515
1383,27.5,30.0,138.3,110,12.0,12.0,4,1,1,0,4.700480,6.8750,0.00,3.314186
1384,5.5,30.0,138.3,146,NaN,16.0,2,1,1,0,4.983607,9.1250,0.00,1.704748
1385,65.0,8.0,118.6,135,18.0,16.0,2,0,1,0,4.905275,8.4375,0.00,4.174387
1386,27.5,8.0,118.6,118,NaN,14.0,2,0,1,0,4.770685,7.3750,0.00,3.314186
1387,37.5,8.0,118.6,111,16.0,13.0,2,0,1,0,4.709530,6.9375,0.00,3.624341

In [27]:
bwght.columns

Index(['faminc', 'cigtax', 'cigprice', 'bwght', 'fatheduc', 'motheduc',
       'parity', 'male', 'white', 'cigs', 'lbwght', 'bwghtlbs', 'packs',
       'lfaminc'],
      dtype='object')

In [30]:
bwght['cigs']

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       6
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
1358     0
1359     3
1360     0
1361    10
1362     0
1363     0
1364     0
1365     0
1366     0
1367    15
1368     0
1369     0
1370     0
1371     0
1372     0
1373     0
1374     0
1375    20
1376     0
1377     0
1378     0
1379     0
1380     0
1381     0
1382     0
1383     0
1384     0
1385     0
1386     0
1387     0
Name: cigs, Length: 1388, dtype: int64

In [32]:
bwght.mean()

faminc      18.739285
cigtax       7.795598
cigprice    10.244484
bwght       20.353964
fatheduc     2.745985
motheduc     2.376728
parity       0.894027
male         0.499743
white        0.411260
cigs         5.972688
lbwght       0.190662
bwghtlbs     1.272123
packs        0.298634
lfaminc      0.918064
dtype: float64

In [35]:
df =(bwght.mean(),bwght.std())
df = pd.concat(df,1)
df.columns = ['mean','st dev']
df

                mean     st dev
faminc     29.026657  18.739285
cigtax     19.552954   7.795598
cigprice  130.559006  10.244484
bwght     118.699568  20.353964
fatheduc   13.186242   2.745985
motheduc   12.935833   2.376728
parity      1.632565   0.894027
male        0.520893   0.499743
white       0.784582   0.411260
cigs        2.087176   5.972688
lbwght      4.760031   0.190662
bwghtlbs    7.418723   1.272123
packs       0.104359   0.298634
lfaminc     3.071271   0.918064

In [37]:
bwght.describe()

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
count,1388.000000,1388.000000,1388.000000,1388.000000,1192.000000,1387.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000
mean,29.026657,19.552954,130.559006,118.699568,13.186242,12.935833,1.632565,0.520893,0.784582,2.087176,4.760031,7.418723,0.104359,3.071271
std,18.739285,7.795598,10.244484,20.353964,2.745985,2.376728,0.894027,0.499743,0.411260,5.972688,0.190662,1.272123,0.298634,0.918064
min,0.500000,2.000000,103.800000,23.000000,1.000000,2.000000,1.000000,0.000000,0.000000,0.000000,3.135494,1.437500,0.000000,-0.693147
25%,14.500000,15.000000,122.800000,107.000000,12.000000,12.000000,1.000000,0.000000,1.000000,0.000000,4.672829,6.687500,0.000000,2.674149
50%,27.500000,20.000000,130.800000,120.000000,12.000000,12.000000,1.000000,1.000000,1.000000,0.000000,4.787492,7.500000,0.000000,3.314186
75%,37.500000,26.000000,137.000000,132.000000,16.000000,14.000000,2.000000,1.000000,1.000000,0.000000,4.882802,8.250000,0.000000,3.624341
max,65.000000,38.000000,152.500000,271.000000,18.000000,18.000000,6.000000,1.000000,1.000000,50.000000,5.602119,16.937500,2.500000,4.174387

In [39]:
bwght.isnull().sum()

faminc        0
cigtax        0
cigprice      0
bwght         0
fatheduc    196
motheduc      1
parity        0
male          0
white         0
cigs          0
lbwght        0
bwghtlbs      0
packs         0
lfaminc       0
dtype: int64

In [42]:
bwght = bwght.drop(['cigtax','cigprice','lbwght','bwghtlbs','packs','lfaminc'],1)

In [43]:
cpbwght = bwght.copy()

In [45]:
cpbwght.groupby(['cigs']).mean()

,faminc,bwght,fatheduc,motheduc,parity,male,white
cigs,,,,,,,
0,30.488520,120.061224,13.388943,13.170213,1.616497,0.529762,0.785714
1,35.833333,122.666667,13.333333,12.333333,1.333333,0.666667,1.000000
2,19.875000,109.500000,11.500000,11.000000,1.250000,0.500000,0.750000
3,15.357143,115.571429,11.200000,11.714286,1.571429,0.142857,0.714286
4,18.388889,109.888889,13.250000,11.666667,1.666667,0.444444,0.555556
5,24.842105,114.000000,12.705882,12.368421,1.736842,0.473684,0.789474
6,30.000000,123.166667,10.000000,12.333333,1.333333,0.166667,0.666667
7,26.250000,120.000000,13.333333,12.750000,1.750000,0.000000,0.750000
8,14.500000,91.000000,11.750000,11.800000,2.400000,0.400000,0.800000
9,4.500000,128.000000,NaN,11.000000,1.000000,0.000000,1.000000
10,20.800000,112.563636,11.488889,11.363636,1.618182,0.436364,0.781818
12,44.500000,106.800000,13.000000,11.600000,2.000000,0.400000,1.000000
15,21.921053,108.052632,12.588235,11.894737,1.578947,0.578947,0.894737
20,18.532258,110.032258,12.023810,11.677419,1.838710,0.548387,0.790323
30,15.500000,108.200000,9.666667,10.400000,1.600000,0.600000,0.800000
40,17.166667,106.500000,9.800000,10.000000,1.833333,0.500000,0.666667
46,0.500000,121.000000,NaN,12.000000,2.000000,1.000000,0.000000
50,27.500000,90.000000,NaN,12.000000,5.000000,1.000000,0.000000

In [49]:
bwght['smokes'] = (bwght['cigs']>0).astype(int)
cpbwght = bwght.copy()
cpbwght.groupby(['smokes']).mean()

,faminc,bwght,fatheduc,motheduc,parity,male,white,cigs
smokes,,,,,,,,
0,30.488520,120.061224,13.388943,13.170213,1.616497,0.529762,0.785714,0.000000
1,20.917453,111.146226,11.888199,11.636792,1.721698,0.471698,0.778302,13.665094

In [51]:
## Subset to only the smokers
bwght[bwght['smokes']==1]

      faminc  bwght  fatheduc  motheduc  parity  male  white  cigs  smokes
22      15.5    129       8.0      11.0       2     1      1     6       1
63       0.5    104       NaN      12.0       2     0      0    10       1
68       7.5    119      12.0      10.0       2     1      0    20       1
74      18.5    115       3.0      12.0       1     0      0    40       1
92       7.5     93      14.0      12.0       1     1      0    10       1
94      13.5    109       8.0       8.0       2     0      1    10       1
97      22.5    121      11.0      12.0       1     1      1    20       1
102     11.5    139      12.0      12.0       2     0      1     3       1
107     27.5    106      12.0      13.0       1     1      0    10       1
115     37.5     97      11.0      11.0       2     0      1    20       1
121      6.5    122       NaN      10.0       1     1      1    40       1
155     32.5    120      12.0      12.0       1     1      1     4       1
171      8.5    141       NaN      12.0       2     1      1     5       1
185     32.5    116      12.0      12.0       1     0      1    10       1
188     47.5    118      11.0      10.0       2     1      1    20       1
201     32.5    103      13.0      14.0       2     0      1     8       1
216     27.5    119       NaN      15.0       1     0      1     4       1
220     32.5     68      12.0      12.0       2     1      1    20       1
225     15.5    115      12.0      12.0       1     0      1    10       1
228     22.5    103      13.0      13.0       3     0      1    12       1
256     17.5    119      13.0      12.0       4     1      1    20       1
261     13.5    110      11.0      11.0       3     0      1    10       1
262     32.5     76      13.0      18.0       1     0      1    10       1
268      6.5    115      12.0      12.0       3     0      0    20       1
272     12.5     60       NaN      10.0       1     1      1    20       1
281     32.5    120      12.0      12.0       2     1      0     4       1
289     32.5    113      12.0      12.0       1     1      1     1       1
294     18.5    112      16.0      16.0       2     0      1    20       1
298     27.5     81      13.0      12.0       4     0      1    40       1
302      3.5     98       NaN      10.0       2     0      0    20       1
...      ...    ...       ...       ...     ...   ...    ...   ...     ...
1190    19.5    128      12.0      12.0       1     1      1    15       1
1196     4.5     96       NaN      12.0       4     0      1     8       1
1208     4.5    133      12.0      10.0       1     1      1     5       1
1211     1.5     86      12.0       9.0       1     0      0    10       1
1228     8.5    111      12.0      12.0       2     1      1    15       1
1232    65.0    131      18.0      12.0       1     0      1    12       1
1234    22.5    127       7.0       9.0       2     0      1    10       1
1239     0.5    121       NaN      12.0       2     1      0    46       1
1244    10.5     92      12.0      12.0       2     0      1    20       1
1247    22.5    124      14.0      13.0       1     1      1     5       1
1263    22.5     96      10.0      10.0       2     0      1    40       1
1275     6.5    120       NaN      12.0       1     1      1    20       1
1279    42.5     90       9.0       9.0       3     1      1    12       1
1287    27.5    106      12.0      12.0       1     0      1    10       1
1290     4.5    111       NaN      12.0       1     1      1    20       1
1291    12.5    123      14.0      12.0       3     1      0     5       1
1303    27.5     90       NaN      12.0       5     1      0    50       1
1315    22.5    128      11.0      13.0       1     0      1    20       1
1322    65.0     87      12.0      10.0       1     0      1     5       1
1324    22.5    115      11.0      13.0       2     1      1    15       1
1331    22.5    112      10.0      12.0       1     1      1    10       1
1332     4.5    128       NaN      11.0       1     0      1     9       1
1336     5.5    104      10.0      10.0       2     1      1    15       1
1344     6.5     91       NaN      11.0       2     0      0    10       1
1347     9.5     80       NaN      12.0       1     1      1    15       1
1348    32.5    124      10.0      11.0       2     1      1    20       1
1359    12.5    119      12.0      12.0       3     0      1     3       1
1361     5.5    115       NaN      11.0       2     0      0    10       1
1367    12.5    130      16.0      14.0       1     1      1    15       1
1375    17.5    102      11.0      10.0       2     1      1    20       1

[212 rows x 9 columns]

In [52]:
bwght['parity'].unique()

array([1, 2, 6, 3, 5, 4])

In [53]:
for case in bwght['parity'].unique():
    print(case,cpbwght[cpbwght['parity']==case].mean())

1 faminc       29.691824
bwght       117.606289
fatheduc     13.228654
motheduc     13.078086
parity        1.000000
male          0.529560
white         0.811321
cigs          1.705660
smokes        0.134591
dtype: float64
2 faminc       29.482005
bwght       119.915167
fatheduc     13.276276
motheduc     13.005141
parity        2.000000
male          0.508997
white         0.766067
cigs          2.542416
smokes        0.177378
dtype: float64
6 faminc       27.50
bwght       118.00
fatheduc     13.00
motheduc     12.75
parity        6.00
male          0.75
white         0.75
cigs          0.00
smokes        0.00
dtype: float64
3 faminc       26.623288
bwght       120.938356
fatheduc     12.814516
motheduc     12.335616
parity        3.000000
male          0.520548
white         0.705479
cigs          2.438356
smokes        0.171233
dtype: float64
5 faminc       17.033333
bwght       121.800000
fatheduc     11.000000
motheduc     10.733333
parity        5.000000
male          0.600000
white         0.666667
cigs          3.333333
smokes        0.066667
dtype: float64
4 faminc       24.692308
bwght       119.358974
fatheduc     13.500000
motheduc     12.461538
parity        4.000000
male          0.410256
white         0.769231
cigs          3.743590
smokes        0.256410
dtype: float64

In [55]:
cpbwght['cigbins'] = pd.cut(bwght['cigs'],[-1,0,10,20,30,40,50])
cpbwght.groupby(['cigbins']).mean()

,faminc,bwght,fatheduc,motheduc,parity,male,white,cigs,smokes
cigbins,,,,,,,,,
"(-1, 0]",30.488520,120.061224,13.388943,13.170213,1.616497,0.529762,0.785714,0.000000,0.0
"(0, 10]",21.575221,112.946903,11.820225,11.707965,1.637168,0.398230,0.761062,7.309735,1.0
"(10, 20]",20.790698,109.406977,12.250000,11.720930,1.790698,0.546512,0.825581,18.430233,1.0
"(20, 30]",15.500000,108.200000,9.666667,10.400000,1.600000,0.600000,0.800000,30.000000,1.0
"(30, 40]",17.166667,106.500000,9.800000,10.000000,1.833333,0.500000,0.666667,40.000000,1.0
"(40, 50]",14.000000,105.500000,NaN,12.000000,3.500000,1.000000,0.000000,48.000000,1.0

In [56]:
cpbwght.groupby(['white','cigbins']).mean()

                   faminc       bwght   fatheduc   motheduc    parity  \
white cigbins
0     (-1, 0]   19.103175  114.678571  12.676829  12.583333  1.722222
      (0, 10]   12.833333  107.851852  11.571429  11.518519  1.925926
      (10, 20]  13.833333  110.200000  11.500000  11.466667  1.933333
      (20, 30]   3.500000  138.000000        NaN  10.000000  3.000000
      (30, 40]  12.000000  102.000000   6.000000  10.000000  1.500000
      (40, 50]  14.000000  105.500000        NaN  12.000000  3.500000
1     (-1, 0]   33.593615  121.529221  13.523645  13.330444  1.587662
      (0, 10]   24.319767  114.546512  11.866667  11.767442  1.546512
      (10, 20]  22.260563  109.239437  12.327586  11.774648  1.760563
      (20, 30]  18.500000  100.750000   9.666667  10.500000  1.250000
      (30, 40]  19.750000  108.750000  12.333333  10.000000  2.000000
      (40, 50]        NaN         NaN        NaN        NaN       NaN

                    male       cigs  smokes
white cigbins
0     (-1, 0]   0.551587   0.000000     0.0
      (0, 10]   0.407407   7.074074     1.0
      (10, 20]  0.533333  19.333333     1.0
      (20, 30]  1.000000  30.000000     1.0
      (30, 40]  0.500000  40.000000     1.0
      (40, 50]  1.000000  48.000000     1.0
1     (-1, 0]   0.523810   0.000000     0.0
      (0, 10]   0.395349   7.383721     1.0
      (10, 20]  0.549296  18.239437     1.0
      (20, 30]  0.500000  30.000000     1.0
      (30, 40]  0.500000  40.000000     1.0
      (40, 50]       NaN        NaN     NaN

In [57]:
import sqlite3

con = sqlite3.connect('bwght.db')
#con = sqlite3.connect(':memory:')
c = con.cursor()

In [58]:
bwght.to_sql('btable',con)

In [59]:
c.execute('SELECT * FROM btable WHERE cigs>20;')
print(c.fetchall())

[(74, 18.5, 115, 3.0, 12.0, 1, 0, 0, 40, 1), (121, 6.5, 122, None, 10.0, 1, 1, 1, 40, 1), (298, 27.5, 81, 13.0, 12.0, 4, 0, 1, 40, 1), (435, 37.5, 116, 13.0, 14.0, 1, 1, 1, 30, 1), (513, 11.5, 91, 8.0, 10.0, 1, 1, 1, 30, 1), (616, 22.5, 136, 14.0, 8.0, 1, 1, 1, 40, 1), (882, 22.5, 94, 8.0, 8.0, 2, 0, 1, 30, 1), (894, 2.5, 102, None, 10.0, 1, 0, 1, 30, 1), (895, 3.5, 138, None, 10.0, 3, 1, 0, 30, 1), (976, 5.5, 89, 9.0, 8.0, 2, 1, 0, 40, 1), (1239, 0.5, 121, None, 12.0, 2, 1, 0, 46, 1), (1263, 22.5, 96, 10.0, 10.0, 2, 0, 1, 40, 1), (1303, 27.5, 90, None, 12.0, 5, 1, 0, 50, 1)]

In [60]:
c.execute('SELECT * FROM btable WHERE cigs>20;')
for item in c.fetchall():
    print(item)

(74, 18.5, 115, 3.0, 12.0, 1, 0, 0, 40, 1)
(121, 6.5, 122, None, 10.0, 1, 1, 1, 40, 1)
(298, 27.5, 81, 13.0, 12.0, 4, 0, 1, 40, 1)
(435, 37.5, 116, 13.0, 14.0, 1, 1, 1, 30, 1)
(513, 11.5, 91, 8.0, 10.0, 1, 1, 1, 30, 1)
(616, 22.5, 136, 14.0, 8.0, 1, 1, 1, 40, 1)
(882, 22.5, 94, 8.0, 8.0, 2, 0, 1, 30, 1)
(894, 2.5, 102, None, 10.0, 1, 0, 1, 30, 1)
(895, 3.5, 138, None, 10.0, 3, 1, 0, 30, 1)
(976, 5.5, 89, 9.0, 8.0, 2, 1, 0, 40, 1)
(1239, 0.5, 121, None, 12.0, 2, 1, 0, 46, 1)
(1263, 22.5, 96, 10.0, 10.0, 2, 0, 1, 40, 1)
(1303, 27.5, 90, None, 12.0, 5, 1, 0, 50, 1)

In [68]:
def hailstone(x):
    step = 0
    while x != 1:
        step += 1
        x = x//2 if x%2==0 else 3*x+1
    return step

In [69]:
con.create_function('hs',1,hailstone)
c.execute('SELECT hs(cigs), cigs FROM btable WHERE cigs>0;')
for item in c.fetchall():
    print(item)

(8, 6)
(6, 10)
(7, 20)
(8, 40)
(6, 10)
(6, 10)
(7, 20)
(7, 3)
(6, 10)
(7, 20)
(8, 40)
(2, 4)
(5, 5)
(6, 10)
(7, 20)
(3, 8)
(2, 4)
(7, 20)
(6, 10)
(9, 12)
(7, 20)
(6, 10)
(6, 10)
(7, 20)
(7, 20)
(2, 4)
(0, 1)
(7, 20)
(8, 40)
(7, 20)
(6, 10)
(6, 10)
(7, 20)
(17, 15)
(7, 20)
(7, 20)
(9, 12)
(3, 8)
(17, 15)
(6, 10)
(6, 10)
(7, 20)
(6, 10)
(7, 20)
(7, 20)
(2, 4)
(7, 20)
(6, 10)
(18, 30)
(17, 15)
(17, 15)
(5, 5)
(7, 20)
(7, 20)
(5, 5)
(7, 20)
(5, 5)
(5, 5)
(18, 30)
(6, 10)
(8, 6)
(7, 20)
(5, 5)
(7, 20)
(6, 10)
(1, 2)
(5, 5)
(0, 1)
(7, 20)
(6, 10)
(6, 10)
(7, 20)
(7, 20)
(7, 20)
(7, 3)
(6, 10)
(7, 20)
(8, 40)
(7, 20)
(3, 8)
(7, 20)
(6, 10)
(16, 7)
(3, 8)
(7, 20)
(6, 10)
(7, 20)
(5, 5)
(6, 10)
(7, 20)
(17, 15)
(16, 7)
(17, 15)
(0, 1)
(17, 15)
(5, 5)
(6, 10)
(9, 12)
(6, 10)
(7, 20)
(6, 10)
(6, 10)
(2, 4)
(2, 4)
(17, 15)
(7, 3)
(6, 10)
(6, 10)
(7, 20)
(1, 2)
(6, 10)
(7, 20)
(6, 10)
(5, 5)
(6, 10)
(7, 20)
(6, 10)
(6, 10)
(18, 30)
(6, 10)
(7, 20)
(6, 10)
(18, 30)
(18, 30)
(2, 4)
(6, 10)
(7, 3)
(7, 20)
(7, 3)
(7, 20)
(16, 7)
(7, 20)
(1, 2)
(6, 10)
(7, 20)
(5, 5)
(6, 10)
(7, 20)
(7, 20)
(5, 5)
(16, 7)
(17, 15)
(2, 4)
(6, 10)
(17, 15)
(17, 15)
(8, 40)
(6, 10)
(7, 20)
(7, 20)
(7, 20)
(6, 10)
(6, 10)
(6, 10)
(17, 15)
(17, 15)
(7, 20)
(5, 5)
(8, 6)
(7, 20)
(6, 10)
(7, 20)
(6, 10)
(7, 20)
(7, 20)
(6, 10)
(7, 20)
(7, 20)
(6, 10)
(8, 6)
(1, 2)
(7, 20)
(6, 10)
(2, 4)
(8, 6)
(6, 10)
(7, 3)
(5, 5)
(5, 5)
(7, 20)
(8, 6)
(7, 20)
(17, 15)
(3, 8)
(5, 5)
(6, 10)
(17, 15)
(9, 12)
(6, 10)
(16, 46)
(7, 20)
(5, 5)
(8, 40)
(7, 20)
(9, 12)
(6, 10)
(7, 20)
(5, 5)
(24, 50)
(7, 20)
(5, 5)
(17, 15)
(6, 10)
(19, 9)
(17, 15)
(6, 10)
(17, 15)
(7, 20)
(7, 3)
(6, 10)
(17, 15)
(7, 20)

In [70]:
class geomean:
    def __init__(self):
        self.sum = 0
        self.count = 0
    def step(self,value):
        self.sum += np.log(value)
        self.count += 1
    def finalize(self):
        return np.exp(self.sum/self.count)

In [74]:
class geomean2:
    def __init__(self):
        self.prod = 1.0
        self.count = 0
    def step(self,value):
        self.prod *= value
        self.count += 1
    def finalize(self):
        return self.prod**(1/self.count)

In [71]:
con.create_aggregate('geo',1,geomean)
c.execute('SELECT geo(bwght), cigs FROM btable GROUP BY cigs;')
for item in c.fetchall():
    print(item)

(118.12914912512608, 0)
(122.01151015653141, 1)
(108.25224006111848, 2)
(114.32987300163663, 3)
(108.60626107277508, 4)
(112.90200845344134, 5)
(121.44933131428813, 6)
(119.16422565354631, 7)
(87.69083957636508, 8)
(127.99999999999997, 9)
(110.78738483467163, 10)
(105.91537925146471, 12)
(106.73221579113947, 15)
(108.05121183968193, 20)
(106.91073090784444, 30)
(104.74271003586932, 40)
(121.00000000000003, 46)
(90.0, 50)

In [76]:
con.create_aggregate('geo2',1,geomean2)
c.execute('SELECT geo2(bwght), cigs, COUNT(cigs) FROM btable GROUP BY cigs;')
for item in c.fetchall():
    print(item)

(inf, 0, 1176)
(122.01151015653136, 1, 3)
(108.25224006111847, 2, 4)
(114.32987300163668, 3, 7)
(108.60626107277498, 4, 9)
(112.90200845344124, 5, 19)
(121.44933131428802, 6, 6)
(119.16422565354631, 7, 4)
(87.69083957636506, 8, 5)
(128.0, 9, 1)
(110.7873848346715, 10, 55)
(105.9153792514647, 12, 5)
(106.73221579113957, 15, 19)
(108.05121183968178, 20, 62)
(106.91073090784451, 30, 5)
(104.74271003586931, 40, 6)
(121.0, 46, 1)
(90.0, 50, 1)

In [77]:
con.commit()

In [78]:
con.close()

In [79]:
with sqlite3.connect('bwght.db') as con:
    c = con.cursor()
    c.execute('SELECT * FROM btable WHERE cigs>20;')
    print(c.fetchall())

[(74, 18.5, 115, 3.0, 12.0, 1, 0, 0, 40, 1), (121, 6.5, 122, None, 10.0, 1, 1, 1, 40, 1), (298, 27.5, 81, 13.0, 12.0, 4, 0, 1, 40, 1), (435, 37.5, 116, 13.0, 14.0, 1, 1, 1, 30, 1), (513, 11.5, 91, 8.0, 10.0, 1, 1, 1, 30, 1), (616, 22.5, 136, 14.0, 8.0, 1, 1, 1, 40, 1), (882, 22.5, 94, 8.0, 8.0, 2, 0, 1, 30, 1), (894, 2.5, 102, None, 10.0, 1, 0, 1, 30, 1), (895, 3.5, 138, None, 10.0, 3, 1, 0, 30, 1), (976, 5.5, 89, 9.0, 8.0, 2, 1, 0, 40, 1), (1239, 0.5, 121, None, 12.0, 2, 1, 0, 46, 1), (1263, 22.5, 96, 10.0, 10.0, 2, 0, 1, 40, 1), (1303, 27.5, 90, None, 12.0, 5, 1, 0, 50, 1)]

In [80]:
import sqlite3

con = sqlite3.connect("bwght.db")
con.isolation_level = None
cur = con.cursor()

buffer = ""

print("Enter your SQL commands to execute in sqlite3.")
print("Enter a blank line to exit.")

while True:
    line = input()
    if line == "":
        break
    buffer += line
    if sqlite3.complete_statement(buffer):
        try:
            buffer = buffer.strip()
            cur.execute(buffer)

            if buffer.lstrip().upper().startswith("SELECT"):
                print(cur.fetchall())
        except sqlite3.Error as e:
            print("An error occurred:", e.args[0])
        buffer = ""

con.close()

Enter your SQL commands to execute in sqlite3.
Enter a blank line to exit.
SELECT * FROM btable WHERE cigs>30;
[(74, 18.5, 115, 3.0, 12.0, 1, 0, 0, 40, 1), (121, 6.5, 122, None, 10.0, 1, 1, 1, 40, 1), (298, 27.5, 81, 13.0, 12.0, 4, 0, 1, 40, 1), (616, 22.5, 136, 14.0, 8.0, 1, 1, 1, 40, 1), (976, 5.5, 89, 9.0, 8.0, 2, 1, 0, 40, 1), (1239, 0.5, 121, None, 12.0, 2, 1, 0, 46, 1), (1263, 22.5, 96, 10.0, 10.0, 2, 0, 1, 40, 1), (1303, 27.5, 90, None, 12.0, 5, 1, 0, 50, 1)]